body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.home_heading {
    background-color: red;
}

h1 {
    background-color: pink;
    text-align: center;
}

h2 {
    background-color: lightblue;
}

ol {
    background-color: rgb(223, 213, 195);
}

img {
    height: auto;
    width: 400px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

ul {
    font-weight: 600;
}

.typ_recipes {
    background-color: lightpink;
}