body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home_heading {
    background-color: red;
    border: 3px solid black;
}

h1 {
    background-color: pink;
    text-align: center;
}

h2 {
    background-color: lightblue;
}

ol {
    background-color: rgb(223, 213, 195);
}

img {
    height: auto;
    width: 400px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

ul {
    font-weight: 600;
   
}


ul.typ_recipes {
    list-style-type: none;
    padding-inline-start: 0;
    
}

.typ_recipes li {
    margin-bottom: 8px;
    list-style-type: none;
    border: 3px solid rgb(78, 54, 27);
    text-align: center;
    padding: 15px;
    background-color: rgb(36, 221, 221);
}
li a {
    color: black;
}